<!DOCTYPE html>
<html lang="en">
{{>main}}

<body>

    {{>navbar}}
    <section class="middle">
        <ul class="nav-below">
            <li>
                <a href="">Books</a>
            </li>
            <li>
                <a href="http://localhost:5000/books/latest">New Arrivals</a>
            </li>
            <li>
                <a href="">Pre-order</a>
            </li>
            <li>
                <a href="">BestSellers</a>
            </li>
            <li>
                <a href="">TextBooks</a>
            </li>
            <li>
                <a href="">Award Winners</a>
            </li>
            <li>



                <div class="dropdown">
                    <div class="drop">
                        <a class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </a>

                    </div>
                    <div class="dropdown-menu drop_down down" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                {{!-- </div> --}}
            </li>
        </ul>
    </section>
    <h3 class="center">{{title}}</h3>&nbsp;
    <div class="container">


        <div class="card_style">
            {{#each contents}}&nbsp;&nbsp;

            <div class="card shadow lg box" style="width: 15rem;">
                <div class="bg-image hover-zoom">

                    <img class="card-img-top" width="100" height="180" src="{{this.image}}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title ml-1">Title: {{this.name}}</h5>
                    <span class="card-text"><b>Author:</b> {{this.author}}</span><br>
                    <span class="card-text"><b>Rating:</b> {{this.rating}}</span>
                    <hr>
                    <span class="d-flex justify-content-evenly">
                        <a href="#" class="btn btn-primary">Buy Now</a>
                        <a href="#" class="btn btn-danger">Add Cart</a>
                    </span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <hr>


    <section class="authors-list">
        <a href="#">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/stephan-coonts.jpg" alt="author1">
        </a>
        <a href="#">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/gayle-forman.jpg" alt="author1">
        </a>
        <a href="#">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/arundhatistory_647_100316054702.jpg"
                alt="author1">
        </a>
        <a href="#">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/dillian.jpg" alt="author1">
        </a>
        <a href="#">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/ma10_milestones_segal.jpg" alt="author1">
        </a>
        <a href="#">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/dr-shashi-tharoor-2.jpg" alt="author1">
        </a>
        <a href="#">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/stephen-edwin-king.jpg" alt="author1">
        </a>
    </section>
    {{>footer}}
</body>

</html>